<%= notice_div %>
<div class="content fixwidth2">
  <%= render 'my_websites' %>
  <% if @website.verified %>
    <div class='add_newsite'><h3>修改网站信息</h3></div>
  <% else %>
    <%= new_website_crumb('step1') %>
  <% end %>
  <div class="clear"></div>
  <div class="box_gray_around add_siteinfo">
    <%= render 'website_form' %>
    <a class="btn_green size-max" onclick="$('#website_info').submit();">提 交</a>
  </div>
</div>
<%= notice_javascript %>

<script>
  $(document).ready(function(){
    $("#website_info").validate({
      rules: {
        'website[wname]': { required: true },
        'website[url]': { required: true, domain: true }
      }
    });
  });
</script>
