<h1><%= @tagged_image.title %><a href="#" class="icon_edit">编 辑</a></h1>
<%= image_tag(@tagged_image.remote_addr, :alt => @tagged_image.title) %>
<ul class="info_pic">
  <li><span><label>图片尺寸：</label><%= @tagged_image.width %>*<%= @tagged_image.height %></span></li>
  <li><span><label>图片路径：</label><%= @tagged_image.remote_addr %></span></li>
  <li><span><label>标注页面：</label><%= @tagged_image.locate_url %></span></li>
  <li>
  <label>该图片被标注了<em><%= @tagged_image.spots.length %></em>个锚点</label>
  <% if @products.present? %>
    <label>该图片关联了<em><%= @products.length %></em>个产品：</label>
    <% @products.each do |p| %>
      <%= link_to "#{p.pname} (计价模式：#{product_pricing(p.pricing)}，单价：#{p.unit_price})", '', :class => 'noborderleft' %>
    <% end %>
  <% end %>
  </li>
  <input type="submit" value="编辑锚点" class="btn_green size-m">
</ul>

<div class="tabs tab_table">
  <ul>
    <li class="ui-corner-top ui-tabs-selected">
    <%= link_to '图片数据统计', 'javascript:void(0)', :title => '图片数据统计', :class => 'link_statistics', :by => 'i' %>
    </li>
    <li class="ui-corner-top">
    <%= link_to '锚点数据统计', 'javascript:void(0)', :title => '锚点数据统计', :class => 'link_statistics', :by => 's' %>
    </li>
  </ul>
  <fieldset>
    <label>日期选择:</label>
    <%= select_tag :data_range, options_for_select({'昨天' => 1, '最近7天' => 2, '最近15天' => 3 , '最近30天' => 4 }, 2) %>.
    <input id="dt_start" type="date" value="<%= (Date.today - 7) %>" class="date" /> - <input id="dt_end" type="date" value="<%= Date.today %>" class="date" />
  </fieldset>
</div>
<div id="statistics_info">
  <%= render 'statistics_tagged_image' %>
</div>
