<table class="table_data">
  <thead>
    <tr><th>锚点</th><th>锚点载入次数</th><th>点击数</th><th>击穿率</th><th>收益</th><th>eCPM</th></tr>
  </thead>
  <% if @statistics.present? %>
    <tbody>
      <% @statistics.each do |t| %>
        <tr>
          <td><%= t.spot_id %></td>
          <td><%= t.impression %></td>
          <td><%= t.click %></td>
          <td><%= number_to_percentage(t.click.to_f/t.impression.to_f*100) if t.impression.present? && t.click.present? %></td>
          <td><%= t.income %></td>
          <td><%= number_to_currency(t.income.to_f/t.impression.to_f, :precision => 3, :unit=>"￥") if t.impression.present? && t.income.present? %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>合计：</td>
        <td><%= @total[:impression] %></td>
        <td><%= @total[:click] %></td>
        <td><%= number_to_percentage(@total[:click].to_f/@total[:impression].to_f*100) if @total[:impression].present? && @total[:click].present? %></td>
        <td><%= @total[:income] %></td>
        <td><%= number_to_currency(@total[:income].to_f/@total[:impression].to_f, :precision => 3, :unit=>"￥") if @total[:income].present? && @total[:impression].present? %></td>
      </tr>
    </tfoot>
  <% else %>
    <tbody>
      <tr><td colspan=6>没有数据</td></tr>
    </tbody>
  <% end %>
</table>
<nav class="page">
  <%= will_paginate @statistics, :class => 'pagination pagenavi', :previous_label => '上一页', :next_label => '下一页' %>
</nav>
