<% @tagged_images.each do |t| %>
  <div class="box">
    <%= link_to(image_tag(t.get_thumbnail_path, :alt => t.title, :onError => "this.src='#{default_thumbnail(200)}'"), website_tagged_image_path(:id => t.id, :website_id => @website.wcode), :title => t.title) %>
    <ul>
      <li><h5><%#= t.title %>别太长</h5></li>
      <li>
        <i class="icon-dot"><%= t.spots_number %></i>锚点
        <i class="icon-dot"><%= t.spots_impression %></i>展示
        <i class="icon-dot"><%= t.spots_click %></i>点击
      </li>
      <li><i><%= t.created_at.to_s(:db) %></i></li>
    </ul>
  </div>
<% end %>
