<div class="bg_green relative">
  <%= form_tag(search_website_tagged_images_path(@website.wcode), :remote => true, :method => 'get', :id => 'frmSearch') do %>
    <%= select_tag :order_by, options_for_select({'按上传时间排序 ' => 1, '按名称排序' => 2}, @order_by.blank? ? 1 : @order_by) %>.
    <%= text_field_tag 'keyword', @keyword.blank? ? '' : @keyword %>
    <%= button_tag '', :class => 'icon_search absolute', :id => 'btnSearch' %>
  <% end %>
</div>
<ul class="pic_list">
  <% @tagged_images.each do |t| %>
    <li>
    <%= link_to(image_tag(t.remote_addr, :alt => t.title), website_tagged_image_path(:id => t.id, :website_id => @website.wcode), :remote => true) %>
    <%#= link_to(image_tag(t.remote_addr, :alt => t.title), "/medias/websites/#{@website.wcode}/tagged_images/#{t.id}", :remote => true) %>
    <span><label>标签：</label><%= t.title %></span>
    <span><label>锚点：</label><%= t.spots_number %></span>
    <span><label>记录时间：</label><%= t.created_at.to_s(:db) %></span>
    </li>
  <% end %>
</ul>
<nav class="page">
<%= will_paginate @tagged_images, :class => 'pagination pagenavi', :previous_label => '上一页', :next_label => '下一页' %>
</nav>
<a class="nav-toggle" href="#">Hide</a>
