<div class="fullwidth">  
  <%= render 'quick_link' %>
  <div class="ad_right">
    <% if @login_count == 1 %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>这是您的第一次登录，建议您修改一个方便记忆的密码！<%= link_to '修改密码', { :action => 'change_password', :controller => 'users', :id => @user } %></strong> 
    </div>
    <% end %>
    <div class="data_chart">
      <h2>统计概览:</h2>
      <div id="flot">
        <div id="chart_legend" style="width:135px;float:right"></div>
        <span>
          <div class="btn-group">
            <button class="btn btn" style="width:100px">时间范围</button>
            <button class="btn btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% [7,15,30,60,120].each do |t| %>
                <li><%= link_to "最近#{t}天", dashboard_advertiser_path + "?period=#{t}" %></li>
              <% end %>
            </ul>
          </div>
        </span>
        <div id="chart_placement" style="width:960px;height:200px"></div>
      </div>
    </div>
    <div class="data_media_top10">
      <h4>媒体流量统计（前十名）</h4>
      <table class="table_data1">
        <thead><tr><th class="num_list"></th><th>媒 体</th><th>产品总曝光</th><th>点 击</th><th>点击率(%)</th><th>成 本</th><th>eCPM</th></tr></thead>
        <tbody>
          <% @statistics_website.each_with_index do |t, i| %>
            <tr>
              <td class="num_list"><%= i+1 %>. </td>
              <td><%= t.website.wname %></td>
              <td><%= t.impression %></td>
              <td><%= t.click %></td>
              <td><%= number_to_percentage(t.click.to_f/t.impression.to_f*100, :precision => 2) if t.impression.present? && t.click.present? %></td>
              <td><%= t.income %></td>
              <td><%= number_to_currency(t.income.to_f/t.impression.to_f*1000, :precision => 2, :unit=>"￥") if t.impression.present? && t.income.present? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
function showTooltip(x, y, contents) {
  $('<div id="tooltip">' + contents + '</div>').css( {
    position: 'absolute',
    display: 'none',
    top: y - 30,
    left: x + 5,
    border: '1px solid #fdd',
    padding: '2px',
    'background-color': '#fee',
    opacity: 0.90
  }).appendTo("body").fadeIn(200);
}

$("#chart_placement").bind("plothover", function (event, pos, item) {
  $("#tooltip").remove();
  if (item) {
    var y = item.datapoint[1].toFixed(0);
    showTooltip(item.pageX, item.pageY, item.series.label + ": " + y);
  }
});

var impr_data = <%= @flot_impression_data %>;
var ck_data = <%= @flot_click_data %>;

var options = {
  xaxes: [ { mode: 'time', timeformat: "%Y/%m/%d", timezone: 'browser', ticks: 7 } ],
  yaxes: [ { min: 0, ticks: 3, tickDecimals: 0 }, { position: 'right', min: 0, ticks: 3, alignTicksWithAxis: 1, tickDecimals: 0 } ],
  legend: { position: 'ne', show: true, container: $('#chart_legend'), noColumns: 0 },
  series: {
    lines: { show: true, lineWidth: 2 },
    points: { show: true, radius: 3 },
  },
  grid: { hoverable: true, clickable: true }
};

$.plot($("#chart_placement"), [ {data: impr_data, label: '曝光' }, {data: ck_data, label: '点击', yaxis: 2 } ], options);
</script>
