<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @advertiser.code %>
</p>

<p>
  <b>Name:</b>
  <%= @advertiser.name %>
</p>

<p>
  <b>Homepage:</b>
  <%= @advertiser.homepage %>
</p>

<p>
  <b>Open:</b>
  <%= @advertiser.open %>
</p>

<p>
  <b>Address:</b>
  <%= @advertiser.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @advertiser.zip %>
</p>

<p>
  <b>Tel:</b>
  <%= @advertiser.tel %>
</p>

<p>
  <b>Mobile:</b>
  <%= @advertiser.mobile %>
</p>

<p>
  <b>Status:</b>
  <%= @advertiser.status %>
</p>

<p>
  <b>Integer:</b>
  <%= @advertiser.integer %>
</p>


<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>
