<div class="content fixwidth">
  <%= notice_div %>
  <div class="login_area">
    <h1>重设密码</h1>
    <div class="box_gray_around login_content">
      <%= form_tag(reset_password_users_path, :method => :put) do %>
        <ul>
          <li><label>输入登录邮箱</label><%= email_field_tag 'email', @email.blank? ? '' : @email %></li>
          <li><label>验证码</label>
          <div class="captcha">
          <%= show_simple_captcha :label => '请输入上面的字符' %>
          </div>
          <div class="notice_form">
            <i class="normal"><%= link_to '看不清楚？换张图片', refresh_captcha_path, :remote => true %></i>
          </div>
          <li>
          <li><label></label><%= submit_tag '重新设置我的密码', :class => 'btn_green size-max' %>
        <span><%= link_to '返回登录', :back %></span></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("form").validate({
      //debug: true,
      rules: {
        //email: { required: true, email: true },
        //captcha: { required: true, minlength: 6 }
      }
    });
  });
</script>  
<%= notice_javascript %>
