<div class="content fixwidth">
  <!--div class="box_green"> <h3 class="acenter">Email验证成功，请登录！</h3> </div-->
  <%= notice_div %>
  <div class="login_area">
    <h1>用户登录</h1>
    <div class="box_gray_around login_content">
      <%= form_tag(authenticate_users_path) do %>
        <ul>
          <li>
            <label>登录邮箱</label>
            <%= email_field_tag 'email', @email.blank? ? '' : @email %>
            <div class="notice_form"><i class="normal" style=""></i></div>
          </li>
          <li>
            <label>密 码</label>
            <%= password_field_tag 'password' %>
            <div class="notice_form"><i class="normal" style=""></i></div>
          </li>
          <li><label></label><%= submit_tag '登 录', :class => 'btn_green size-max' %><span><%= link_to '忘记密码？', forget_password_users_path %></span></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("form").validate({
      //debug: true,
      rules: {
        email: { required: true, email: true },
        password: { required: true, minlength: 6 }
      },
      success: function(label) {
        label.removeClass("wrong").addClass("right");
      }
    });
  });
</script>  
<%= notice_javascript %>
