<aside class="ad_left">
<h4 class="icon_product">产 品
  <%= link_to '(+添加新产品)', new_product_path, :remote => true %>
  <%= link_to '(刷新)', products_path, :remote => true %>
  <i><em><%= @spotted_number %></em>/<%= @total_number %></i>
  </h4>
  <div class="quick_search bg_green relative">
    <%= form_tag(search_products_path, :remote => true, :method => 'get') do %>
    <label>名称/品牌搜索：</label>
    <%= select_tag :status, options_for_select({'全部状态' => -1, '正常状态' => 1, '暂停状态' => 2}, @status.blank? ? -1 : @status) %> 
    <%= text_field_tag 'keyword', @keyword.blank? ? '' : @keyword %>
    <%= link_to_function '', '$(this).closest("form").submit()', :class => 'icon_search absolute' %>
    <% end %>
  </div>
  <%= form_tag('', :remote => true, :id => 'frmPdcts') do %>
  <table class="table_data1">
    <thead>
      <tr>
        <th class="checkbox_list"></th>
        <th class="width1">产品</th>
        <th>关联</th>
        <th>修改时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
    <% if @products.blank? %>
      <tr>
        <td colspan=5 style='height:100px;font-size:16px'>找不到 :( <br/>
          <%= link_to '新建一个？', new_product_path, :remote => true %>
        </td>
      </tr>
    <% else %>
      <% @products.each do |p| %>
      <tr>
        <td class="checkbox_list"><%= check_box_tag 'pid[]', p.id %></td>
        <td><%= link_to p.pname, p, :remote => true %></td>
        <td><%= p.spots_number %></td>
        <td><%= p.updated_at.to_s(:db) %></td>
        <td><%= product_status(p.status) %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div class="bg_gray tablenav">
    <input id="chxAll" name="chxAll" type="checkbox" />

    <div class="btn-group" style="display:inline-block">
      <button class="btn btn-small" style='width:70px'>操作</button>
      <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href='javascript:void()' id='op_delete'>删除</a></li>
        <li><a href='javascript:void()' id='op_status'>修改状态</a></li>
        <li><a href='javascript:void()' id='op_tag'>设置标签</a></li>
      </ul>
    </div>

    <%#= will_paginate @products, :renderer => PaginationListLinkRenderer, :class => 'pagination pagenavi'%>
    <%= will_paginate @products, :class => 'pagination pagenavi', :previous_label => '上一页', :next_label => '下一页' %>
  </div>
  <% end %>
  
</aside>

<div class="modal hide" id="set_status_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>更新产品状态</h3>
  </div>
  <div class="modal-body">
    <input type="radio" id="rdStatus" name="rdStatus" value=1 checked /> 正常 
    <input type="radio" id="rdStatus" name="rdStatus" value=2 style="margin-left:30px"/> 暂停
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关 闭</a>
    <a href="#" id="btnChangeStatus" class="btn btn-success">修 改</a>
  </div>
</div>

<div class="modal hide" id="set_tags_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>修改标签</h3>
  </div>
  <div class="modal-body">
    <label>标签：</label>
    <%= text_field_tag 'tags', '', {:style => 'width:300px'} %>
    <div class="notice_form" style="padding-left:100px;margin-top:8px"><i class="normal">请精确输入产品的标签(多个标签用空格隔开)，以便我们精确匹配图片</i></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关 闭</a>
    <a href="#" id="btnChangeTags" class="btn btn-success">修 改</a>
  </div>
</div>

<script type='text/javascript'>

  var form = $('#frmPdcts');

  function check_selected() {
    var n = $(':checkbox:checked').length;
    return n > 0;
  }

  $('#op_delete').click(function() {
    if (!check_selected()) {
      alert ('请选择至少一个产品');
      return false;
    }
    form.attr('action', '<%= batch_destroy_products_path %>');
    if (window.confirm('确定要删除这些产品吗？（相关报表也会同时删除）')) {
      form.submit();
    }
  });

  $('#op_status').click(function() {
    if (!check_selected()) {
      alert ('请选择至少一个产品');
      return false;
    }
    $('#set_status_modal').modal({show: true, keyboard: true, backdrop: 'static'});
    $('#btnChangeStatus').unbind('click');
    $('#btnChangeStatus').click(function() {
      var status = $("#rdStatus:checked").val();
      form.attr('action', '<%= batch_update_status_products_path %>?status=' + status);
      form.submit();
      $('#set_status_modal').modal('hide');
    });
  });

  $('#op_tag').click(function() {
    if (!check_selected()) {
      alert ('请选择至少一个产品');
      return false;
    }
    $('#set_tags_modal').modal({show: true, keyboard: true, backdrop: 'static'});
    $('#btnChangeTags').unbind('click');
    $('#btnChangeTags').click(function() {
      var tags = $("#tags").val();
      form.attr('action', '<%= batch_update_tags_products_path %>?tags=' + encodeURIComponent(tags));
      form.submit();
      $('#set_tags_modal').modal('hide');
    });
  });

  $('.btn-group .btn').click(function(e) {
    e.preventDefault();
  });

  $('#chxAll').click(function() {
    if ($(this).attr('checked')) {
      $('#frmPdcts input:checkbox').attr('checked', true);
    } else {
      $('#frmPdcts input:checkbox').attr('checked', false);
    }
  });

</script>
